@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom globals (optional) */
body {
	@apply min-h-screen bg-gradient-to-br from-blue-600 to-purple-700 text-gray-900 dark:text-gray-100;
}
